// Background Images
$main-bg-image: '../img/symphony-purple.png';
$white-bg-image: '../img/symphony-light-purple.png';

// Colors
$primary-color:            #7b0e7f;
$button-bg-color:          #6B006F;
$link-color:               #C568C8;
$link-hover-color:         #f8b1fa;
$light-accent-color:       #B47FB6;

$divider-color:            #C678BD;
$divider-color-rgba:       rgba(255, 255, 255, 0.5);

$site-title-bg-color:      rgba(180, 127, 182, 0.5);
$site-title-color:         #9B3F9E;
$childs-current-age-color: #BB85BD;
