/*
Bundle core WordPress stylesheets to save on requests
../../../../ = the site root
*/
@import url(../../../../wp-includes/js/mediaelement/mediaelementplayer.min.css);
@import url(../../../../wp-includes/js/mediaelement/wp-mediaelement.css);
/* Add this to our main stylesheet to prevent a small style tag from being injected into the <head> of the page */
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  color: #000; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a:focus {
  outline: thin dotted #000; }

a:hover {
  outline: none; }

strong,
b {
  font-weight: bold; }

em,
i {
  font-style: italic; }

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 60%; }

pre {
  font-family: "Lucida Console", Monaco, monospace; }

label {
  cursor: pointer; }

input[type="search"]::-webkit-search-decoration {
  display: none; }

input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  box-shadow: none; }

input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1; }

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  box-shadow: none; }

button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  border-radius: 4px;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background: #dddddd url("../images/button.png?1298351022") repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0; }

button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  text-decoration: none; }

button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#dddddd, #eeeeee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#eeeeee));
  background-image: linear-gradient(#dddddd, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd; }

button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0; }

a.button {
  *padding-bottom: 3px; }

button {
  *padding-top: 1px;
  *padding-bottom: 1px; }

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto; }

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee; }

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  color: #888888;
  cursor: default; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888; }

input.placeholder_text,
textarea.placeholder_text {
  color: #888888; }

textarea,
select[size],
select[multiple] {
  height: auto; }

select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto; }

@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px; }
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px; }
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px; }
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border-color: #666666; } }

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%; }

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif; }

optgroup::-moz-focus-inner {
  border: 0;
  padding: 0; }

.ie6_button,
* html button,
* html a.button {
  background: #dddddd url("../images/button.png?1298351022") repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0;
  text-decoration: none;
  overflow: visible;
  vertical-align: top;
  width: auto; }

* html a.button {
  position: relative;
  top: 3px;
  padding-bottom: 2px; }

* html button {
  padding-top: 1px;
  padding-bottom: 1px; }

.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top; }

* html select {
  margin-top: 1px; }

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888; }

/* Should only be used as a last resort if clearing floats with overflow:hidden|auto doesn't work. */
.clearfix {
  zoom: 1; }

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1; }

.clearfix:after {
  clear: both; }

/*
Use .hidden to visual hide an element but still making it accessible to screen readers.
#top is the ID of the Skip link.
 */
#top {
  left: -999em;
  position: absolute;
  top: auto;
  _top: -999em;
  /* IE6 https://learntech.imsu.ox.ac.uk/blog/?p=494 */ }

/* If the skip link is focused using the keyboard then show it. */
#top:focus {
  position: static;
  font-size: 1.5em;
  background-color: #FFFFD5;
  display: block;
  font-weight: 700;
  color: #000;
  padding: 2px 15px 5px; }

/* Constrains content */
.holder {
  margin: 0 auto;
  max-width: 68.125em;
  padding: 0 1.25em 3.125em;
  color: #fff;
  z-index: 1; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }

.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100; }

.skip-to-content-link {
  background-color: #ef8923;
  color: #fff;
  padding: 0.75em; }

.admin-bar .skip-to-content-link {
  z-index: 999999; }

.hide,
.has-js .hide-if-js {
  display: none !important; }

.invisible {
  visibility: hidden !important; }

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.alt-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #4f9826;
  background-image: url("../img/symphony-money-green.png");
  background-repeat: repeat;
  background-attachment: fixed; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

a {
  text-decoration: none;
  color: #76c681;
  border-bottom: 0.15em dotted #76c681;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

a:hover,
a:focus {
  color: #b3fab2;
  border-bottom-color: #b3fab2; }

a:focus {
  outline-color: #b3fab2; }

p {
  font-size: 1.125em;
  line-height: 1.5; }

strong,
b {
  font-weight: 700; }

em,
i {
  font-weight: 500; }

ul li {
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

img,
.wp-video {
  max-width: 100%;
  height: auto;
  border: 0.1875em solid #fff;
  border-radius: 0.625em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wp-video {
  font-size: 1.125em; }

img.alignleft,
figure.alignleft img {
  float: left;
  margin-right: 0.625em; }

img.alignright,
figure.alignright img {
  float: right;
  margin-left: 0.625em; }

article img.alignright {
  margin: 0.15625em -20% 0.625em 1.25em; }

img.aligncenter,
figure.aligncenter img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.from-instagram,
article.instagram .wp-video {
  margin-bottom: 0.625em;
  margin-top: -0.625em; }

.wp-caption {
  font-size: 1.25em;
  margin-bottom: 0.9em;
  overflow: auto;
  height: 100%; }

.wp-caption-text {
  font-size: 0.4375em;
  padding: 0.46875em 0.46875em 0.46875em 0;
  text-align: right;
  font-style: italic;
  clear: both; }

.gallery {
  overflow: auto;
  height: 100%;
  padding-left: 1.5625em;
  margin-bottom: 0.625em; }

.gallery-size-thumbnail {
  max-width: 42.5em;
  margin-left: auto;
  margin-right: auto; }

.gallery a {
  border-bottom: 0 none; }

.gallery img {
  float: left;
  margin: 0.625em; }

.gallery a:hover img,
.gallery a:focus img {
  border-color: #b3fab2; }

@media (max-width: 47.5em) {
  .gallery {
    padding-left: 0; } }

@media (max-width: 25em) {
  .gallery-size-thumbnail img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block; } }

@media (max-width: 35em) {
  img {
    border-width: 0.125em; } }

/* Override the video player color defaults */
article.instagram .mejs-controls .mejs-time-rail .mejs-time-current {
  background-color: #4f9826; }

/* SVG Icons */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-facebook {
  width: 0.857421875em; }

.icon-instagram {
  width: 0.857421875em; }

.icon-github {
  width: 0.8571440825859895em; }

header {
  background-color: #fff;
  background-image: url("../img/symphony.png");
  background-repeat: repeat;
  background-attachment: fixed;
  padding: 0.3125em 0;
  position: relative; }

header .holder {
  padding-bottom: 0; }

header .site-title {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 5em;
  float: left; }

header .site-title,
header .site-title a {
  border-bottom-width: 0;
  color: #4f9826;
  display: block; }

header .site-title a {
  border-radius: 0.625em;
  padding: 0 0.1875em; }

header .site-title a:hover,
header .site-title a:focus {
  background-color: #82b681;
  background-color: rgba(130, 182, 129, 0.5);
  color: #409d3f; }

header .childs-current-age {
  color: #85bd84;
  float: right;
  font-size: 1.5625em;
  margin-top: 1.6em;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif; }

@media (max-width: 62.5em) {
  header {
    font-size: 75%; } }

@media (max-width: 48.75em) {
  header {
    font-size: 70%; } }

@media (max-width: 43.75em) {
  header {
    font-size: 65%; } }

@media (max-width: 40em) {
  header {
    font-size: 100%; }
  header .site-title,
  header .childs-current-age {
    float: none;
    text-align: left; }
  header .childs-current-age {
    padding-left: 0.625em;
    margin-top: 0;
    text-align: left;
    font-size: 0.9375em; }
  header .site-title {
    font-size: 1.875em; }
  header .site-title a {
    display: inline-block; } }

.has-js .holder,
.has-js #magic-shield,
.has-js .more-menu {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.more-menu {
  max-width: 65.625em;
  margin: 0 auto; }

.has-js .more-menu {
  z-index: 100;
  width: 17.5em;
  min-height: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -25em;
  padding: 2em 1.25em 0;
  background-color: #4f9826;
  background-image: url("../img/symphony-money-green.png");
  background-repeat: repeat;
  -webkit-box-shadow: 0.625em 0 1.5625em 0.8125em rgba(0, 0, 0, 0.5);
          box-shadow: 0.625em 0 1.5625em 0.8125em rgba(0, 0, 0, 0.5); }

.admin-bar.has-js .more-menu {
  padding-top: 3.90625em; }

.nav-open .more-menu {
  right: 0; }

.more-menu .close {
  display: none;
  font-size: 1.25em;
  border-bottom: 0 none;
  margin-bottom: 0.5em; }

.has-js .more-menu .close {
  display: block; }

.has-js .more-menu .alt-text {
  visibility: hidden; }

.more-menu .title {
  font-size: 2.375em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-style: normal; }

.has-js .more-menu .title {
  display: none; }

.more-menu ul {
  padding-left: 0; }

.more-menu li {
  list-style: none;
  line-height: 1.25;
  font-size: 0.75em; }

.more-menu li:first-child a {
  border-top: 0; }

.more-menu li a {
  border: 0 none;
  border-top: 0.25em solid #76c681;
  border-top-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  font-size: 1.6em;
  padding: 0.5em 0 0.5em 1.5em;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  text-align: left;
  display: block; }

.more-menu li a:hover,
.more-menu li a:focus {
  background-color: #82b681;
  background-color: rgba(130, 182, 129, 0.5); }

.more-menu .social-links {
  padding-top: 0.46875em;
  overflow: auto;
  height: 100%; }

.more-menu .social-links a {
  color: #fff;
  float: left;
  width: 33.333%;
  text-align: center;
  font-size: 2.8125em;
  border-bottom: 0; }

.more-menu .social-links a:hover,
.more-menu .social-links a:focus {
  color: #82b681;
  color: rgba(130, 182, 129, 0.5); }

#magic-shield {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }

.nav-open #magic-shield {
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.75); }

.new-menu {
  clear: both;
  padding-bottom: 0;
  padding: 0;
  background-color: #82b681;
  background-color: rgba(130, 182, 129, 0.5); }

.new-menu .holder {
  padding-bottom: 0; }

.new-menu ul {
  overflow: auto;
  height: 100%; }

.new-menu li {
  float: left;
  list-style: none;
  font-size: 1.125em;
  white-space: nowrap; }

.new-menu a {
  display: block;
  text-align: center;
  padding: 0.6em 2em;
  border-bottom: none;
  color: #fff; }

.new-menu a:hover,
.new-menu a:focus {
  background-color: #4f9826; }

@media (max-width: 48.75em) {
  .new-menu li {
    font-size: 1em; } }

@media (max-width: 42.5em) {
  .new-menu .holder {
    padding: 0; }
  .new-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .new-menu li {
    float: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 0.875em; }
  .new-menu a {
    padding-left: 0.53571em;
    padding-right: 0.53571em; } }

nav {
  padding-bottom: 2.1875em; }

.rounded-button,
.addtocalendar .atcb-link {
  display: block;
  border: 0.08333em solid #82b681;
  border-radius: 0.625em;
  background-color: #027000;
  color: #fff;
  font-size: 1.125em;
  text-align: center;
  text-shadow: none;
  padding: 0.44444em; }

.rounded-button:hover,
.rounded-button:focus,
.addtocalendar .atcb-link:hover,
.addtocalendar .atcb-link:focus {
  background-color: #82b681;
  color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif; }

h2 {
  font-size: 1.25em;
  margin-bottom: 0.2em; }

.article {
  border-top: 0.3125em solid #76c681;
  border-top-color: rgba(255, 255, 255, 0.5);
  padding: 1.875em 0 3.125em; }
  .article:first-of-type {
    border-top: 0 none; }
  .article .inner {
    max-width: 40.625em;
    margin: 0 auto;
    padding-bottom: 1.5625em; }
  .article .title {
    text-align: center; }
  .article .title a {
    color: #fff;
    border-bottom: 0 none;
    border-radius: 0.625em;
    padding: 0.125em 0.3125em;
    display: inline-block; }
  .article .title a:hover,
  .article .title a:focus {
    background-color: #82b681;
    background-color: rgba(130, 182, 129, 0.5);
    color: #b3fab2; }
  .article .time-stamp {
    font-size: 1.25em;
    margin-bottom: 1.2em;
    text-align: center; }
  .article .colon {
    font-size: 75%;
    display: inline-block;
    padding: 0.1em; }
  .article .am-pm {
    text-transform: uppercase;
    font-size: 50%;
    position: relative;
    left: -0.15em; }

.instagram p {
  margin-bottom: 0.3125em; }

.post .title,
.page .title {
  line-height: 1.3333; }

.page .title {
  margin-bottom: 0.937em; }

.post .time-stamp {
  line-height: 1.25;
  margin-top: -0.3em; }

.post .title a {
  margin-left: -em(5px); }

@media (max-width: 6.25em) {
  .article .title {
    font-size: 2.1875em; }
  .article .birthday-rsvp-title {
    font-size: 1.375em; }
  .article .addtocalendar {
    font-size: 0.625em; } }

@media (max-width: 47.5em) {
  .post .inner p,
  .page .inner p {
    padding-left: 0; } }

@media (max-width: 35em) {
  .article .time-stamp b {
    display: none; }
  .article .birthday-rsvp-title {
    padding-top: 1em; }
  .post .title,
  .page .title {
    margin-bottom: 0.3em; }
  .post .how-old-was-zadie {
    display: block;
    margin-top: 0.3em; } }

@media (max-width: 30em) {
  .instagram .time {
    display: block;
    font-size: 80%;
    padding-bottom: 0.3125em; } }

section.archive {
  border-bottom: 0.3125em solid #76c681;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  padding: 1.125em 2.375em; }

.archive .heading {
  padding: 0 0.3125em 0 0;
  display: inline-block; }

.archive .subheading {
  font-size: 1.25em;
  position: relative;
  top: 0.9em;
  float: right; }

@media (max-width: 42.5em) {
  section.archive {
    text-align: center; }
  .archive .heading {
    font-size: 2.375em;
    padding-right: 0;
    padding-bottom: 0.2em; }
  .archive .subheading {
    float: none;
    position: static; } }

.on-this-day-date-switcher {
  text-align: center;
  margin-bottom: 0;
  padding-top: 1.875em; }

.on-this-day-date-switcher select,
.on-this-day-date-switcher .submit {
  font-size: 0.9375em; }

.on-this-day-date-switcher .submit {
  margin-left: 0.53333em; }

.days-in-month-29 option[value="30"],
.days-in-month-29 option[value="31"],
.days-in-month-30 option[value="31"] {
  display: none; }

@media (max-width: 21.25em) {
  .on-this-day-date-switcher .submit {
    display: block;
    margin-top: 0.53333em;
    margin-left: 0;
    width: 100%; } }

form {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  max-width: 21.875em;
  margin: 0 auto 3.4375em; }

fieldset {
  padding: 0.625em 0 2.1875em; }

label,
legend {
  display: block;
  font-size: 1.125em;
  padding-bottom: 0.30556em; }

form .full {
  width: 100%; }

form .rounded-button {
  background-image: none;
  width: 100%; }

form.rsvp input,
form.rsvp textarea {
  border-radius: 0.3em; }

form.rsvp legend {
  padding-bottom: 0.12333em; }

form.rsvp .name input,
form.rsvp textarea {
  font-size: 1.125em;
  padding: 0.11111em 0.22222em; }

form.rsvp .attendance label,
form.rsvp .how-many label {
  float: left;
  padding: 0 0.55556em; }

form.rsvp .attendance input {
  margin-right: 0.41667em; }

form.rsvp .how-many input {
  margin-right: 0.13889em; }

article .birthday-rsvp-title {
  font-size: 1.875em; }

/* Add to Calendar Overrides */
article .addtocalendar {
  font-size: 0.75em;
  margin: 0.41667em 0 2.08333em; }

.addtocalendar .atcb-list,
.addtocalendar .atcb-item {
  background-color: #fff; }

.addtocalendar .atcb-item-link {
  padding: 0.16667em 0.41667em;
  border-style: solid; }

@media (max-width: 35em) {
  article .birthday-rsvp-title {
    padding-top: 0.33333em; } }

.attachment article {
  padding-bottom: 0.625em; }

.attachment .parent-post {
  padding-bottom: 0.5em; }

.attachment article .title {
  text-align: center; }

.attachment article .container {
  margin: 0 auto; }

article.attachment-image p {
  font-size: 0.9375em; }

article.attachment-image img {
  margin: 1.5625em auto 0.9375em;
  display: block;
  border-width: 0.375em; }

.attachment nav .next {
  float: right; }

.attachment nav .prev {
  float: left; }

.attachment .progress {
  text-align: center;
  padding-top: 0.1875em; }

/* Loading Bars via http://tobiasahlin.com/spinkit/ */
.loading-bars {
  height: 7.5em;
  margin: auto;
  text-align: center;
  padding-bottom: 0.625em; }

.loading-bars div {
  background-color: #fff;
  display: inline-block;
  margin: 0 0.25em;
  height: 100%;
  width: 0.75em;
  border-radius: 10em;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
          animation: stretchdelay 1.2s infinite ease-in-out; }

.loading-bars .rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }

.loading-bars .rect3 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s; }

.loading-bars .rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }

.loading-bars .rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

h1 {
  font-weight: 400; }

header .site-title {
  text-transform: none;
  font-weight: 400; }

h1 {
  font-size: 2.5em;
  font-weight: 400; }

.article .time-stamp {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.article .colon {
  position: relative;
  top: -0.1em; }

@media (max-width: 51.25em) {
  .article .title {
    font-size: 1.5625em; } }

/*# sourceMappingURL=other-baby.css.map */
