form {
	font-family: 'Crete Round', Arial, Helvetica, sans-serif;
	max-width: em(350px);
	margin: 0 auto em(55px);
}
fieldset {
	padding: em(10px) 0 em(35px);
}
label,
legend {
	display: block;
	font-size: em(18px);
	padding-bottom: em(5.5px, 18px);
}
form .full {
	width: 100%;
}
form .rounded-button {
	background-image: none;
	width: 100%;
}
form.rsvp input,
form.rsvp textarea {
	border-radius: 0.3em;
}
form.rsvp legend {
	padding-bottom: em(2.22px, 18px);
}
form.rsvp .name input,
form.rsvp textarea {
	font-size: em(18px);
	padding: em(2px, 18px) em(4px, 18px);
}
form.rsvp .attendance label,
form.rsvp .how-many label {
	float: left;
	padding: 0 em(10px, 18px);
}
form.rsvp .attendance input {
	margin-right: em(7.5px, 18px);
}
form.rsvp .how-many input {
	margin-right: em(2.5px, 18px);
}
article .birthday-rsvp-title {
	font-size: em(30px);
}

/* Add to Calendar Overrides */
article .addtocalendar {
	font-size: em(12px);
	margin: em(5px, 12px) 0 em(25px, 12px);
}
.addtocalendar .atcb-list,
.addtocalendar .atcb-item {
	background-color: #fff;
}
.addtocalendar .atcb-item-link {
	padding: em(2px, 12px) em(5px, 12px);
	border-style: solid;
}
@media ( max-width: em(560px) ) {
	article .birthday-rsvp-title {
		padding-top: em(10px, 30px);
	}
}
