.article .time-stamp {
	font-family: $sans-serif-font;
}

.article .colon {
	position: relative;
	top: -0.1em;
}

@media (max-width: em(820px) ) {
	.article {

		.title {
			font-size: em(25px);
		}
		
	}
}
