{% extends 'base.twig' %}

{% block content %}
	<div id="content">
		<h1>{{ site_name }}'s Style Guide</h1>
		<ol>
			<li><a href="colors/">Colors</a></li>
			<li><a href="common-html/">Common HTML</a></li>
		</ol>
	</div>
{% endblock %}
