$headline-font: 'Shrikhand', Arial, Helvetica, sans-serif !default;

// Background Images
$main-bg-image: '../img/symphony-green.png';
$white-bg-image: '../img/symphony.png';

// Colors
$primary-color:            #75ac6c;
$button-bg-color:          #027000;
$link-color:               #c7fab2;
$link-hover-color:         #FEF6C9;
$light-accent-color:       #b9d6b8;

$divider-color:            #76c681;
$divider-color-rgba:       rgba(255, 255, 255, 0.5);

$site-title-bg-color:      rgba(185, 214, 184, 0.5);
$site-title-color:         #409d3f;
$childs-current-age-color: #8dc18b;
