header {
    .childs-current-age {
        font-style: italic;
        font-weight: 500;
    }

    .site-title {
        text-transform: none;
        font-weight: 700;
        font-style: italic;

        a:hover,
        a:focus {
            background-color: $link-color;
            background-color: rgba($link-color, 0.7);
        }
    }
}
