.new-menu {
    background-color: $site-title-bg-color;
    background-color: $site-title-bg-color-rgba;
}
.more-menu .social-links a:hover,
.more-menu .social-links a:focus {
    color: $link-color;
}
