{% extends 'base.twig' %}

{% block content %}

	<div id="content">
		<article class="article page">
			<h1 class="title">Nothing Found!</h1>
				<p class="date-explanation">
					{{ child_name }} {{ tense }} {{ age }} on {{ date }}
				</p>
		</article>
	</div>

{% endblock %}
