// Background Images
$main-bg-image: '' !default;
$white-bg-image: '' !default;

// Colors
$primary-color:            red !default;
$button-bg-color:          red !default;
$link-color:               red !default;
$link-hover-color:         red !default;
$light-accent-color:       red !default;

$divider-color:            red !default;
$divider-color-rgba:       rgba(255, 255, 255, 0.5);

$site-title-bg-color:      red !default;
$site-title-color:         red !default;
$childs-current-age-color: red !default;
