$headline-font: 'Asap', Arial, Helvetica, sans-serif !default;
$sans-serif-font: 'Asap', Arial, Helvetica, sans-serif !default;

// Background Images
$main-bg-image: '../img/symphony-blue.png';
$white-bg-image: '../img/symphony.png';

// Colors
$primary-color:            #0f4c81;
$button-bg-color:          #ffa372;
$link-color:               #ffa372;
$link-hover-color:         #ffa372;
$light-accent-color:       #ed6663;

$divider-color:            #8DA2BA;
$divider-color-rgba:       rgba(255, 255, 255, 0.5);

$site-title-bg-color:      #1b262c;
$site-title-bg-color-rgba:  rgba(#1b262c, 0.5);
$site-title-color:         #0f4c81;
$childs-current-age-color: #0f4c81;
