<div class="wrap">
    <h1>Instagram Location Sync</h1>
	{% if location_ids %}
		<h2>Location IDs that need terms</h2>
		{% for location_id in location_ids %}
			<div class="text-fields">
				<input type="text" class="view_source-url" value="view-source:https://www.instagram.com/explore/locations/{{location_id}}/" onfocus="this.select();" readonly>
				<input type="hidden" class="location-id" name="location-id" value="{{ location_id|esc_attr }}">
				<textarea rows="5" class="instagram-source"></textarea>
			</div>
		{% endfor %}
	{% endif %}
</div>
