<style>
    #instagram-source {
        display: block;
        max-width: 800px;
        width: 95%;
    }
</style>

<div class="wrap">
    <h1>Instagram Sync</h1>
    <p>Pick which items you want to import.</p>

    <form action="{{ form_action_url|esc_url }}" method="post">
        <input type="checkbox" name="selected-instagram-ids[]" value="a">
        <input type="checkbox" name="selected-instagram-ids[]" value="b">
        <textarea id="instagram-source" name="instagram-source" rows="5">{{ instagram_source }}</textarea>
        {{ nonce_field }}
        {{ submit_button }}
    </form>

</div>
