<style>
    #instagram-source {
        display: block;
        max-width: 800px;
        width: 95%;
    }

    .children {
        padding-left: 25px;
    }

    .delete-link {
        color: red;
    }
</style>

<div class="wrap">
    {{ result }}

    <h1>Instagram Sync</h1>
    <p>Paste the HTML source of the Instagram post to scrape and sync it with this site.</p>
    <form action="{{ form_action_url|esc_url }}" method="post">
        {{ nonce_field }}
        <label for="instagram-source">HTML Source</label>
        <textarea id="instagram-source" name="instagram-source" rows="5"></textarea>
        {{ submit_button }}
    </form>

</div>
