<div class="pick-item">
    {#
        Display URL and caption
        List each media item and indicate if it already exists
        Be able to check the media items we want to import
        During import check if ID of media item is in the list of picked IDs
    #}
    <p>{{ instagram_url }}</p>
</div>
